@import 'tailwindcss';
@import './fonts.css';
@plugin "@tailwindcss/typography";

@theme {
  --radius-md: 0.75rem;
  --radius-lg: 1rem;
  --font-sans: 'Montserrat', system-ui, sans-serif;
}

@layer base {
  body {
    @apply bg-white text-neutral-800 antialiased;
    font-family: var(--font-sans);
  }

  h1,
  h2,
  h3 {
    @apply font-bold text-neutral-800;
  }

  button,
  .button {
    @apply min-h-8 min-w-8 text-sm font-medium px-3 w-fit py-1 cursor-pointer rounded-md inline-flex items-center justify-center gap-2 no-underline active:scale-95 disabled:bg-neutral-300 disabled:cursor-not-allowed;
    font-family: inherit;
  }

  .button-primary {
    @apply bg-gray-600 text-neutral-100 hover:bg-neutral-700;
  }

  .button-secondary {
    @apply bg-gray-200 text-neutral-800 hover:bg-neutral-300;
  }

  input[type='text'],
  input[type='email'],
  textarea {
    @apply min-h-8 min-w-[216px] max-w-[256px] w-full text-sm border border-neutral-300 px-3 py-1 placeholder:text-neutral-400 rounded-md outline-none bg-neutral-100 focus:border-blue-500;
    font-family: inherit;
  }

  .container {
    @apply mx-auto px-10;
  }
}
