@import 'tailwindcss';
@import './fonts.css';
@plugin "@tailwindcss/typography";

@theme {
  --radius-xs: 0.25rem;
  --radius-sm: 0.5rem;
  --radius-md: 0.75rem;
  --radius-lg: 1rem;
  --font-sans: 'Montserrat', system-ui, sans-serif;
}

@layer base {
  body {
    @apply bg-white text-gray-800 antialiased;
    font-family: var(--font-sans);
  }

  h1 {
    @apply text-6xl font-bold md:text-8xl;
  }

  h2 {
    @apply text-4xl font-bold md:text-6xl;
  }

  h3 {
    @apply text-2xl font-bold md:text-4xl;
  }

  h4 {
    @apply text-xl font-bold md:text-2xl;
  }

  h5 {
    @apply text-lg font-semibold md:text-xl;
  }

  h6 {
    @apply text-base font-medium md:text-lg;
  }

  button,
  .button {
    @apply min-h-8 min-w-8 text-sm font-medium px-4 w-fit cursor-pointer rounded-sm inline-flex items-center justify-center gap-2 no-underline active:scale-95 disabled:bg-neutral-300 disabled:cursor-not-allowed;
    font-family: inherit;
  }

  .button-primary {
    @apply bg-blue-600 text-white hover:bg-neutral-800;
  }

  .button-secondary {
    @apply bg-neutral-200 text-neutral-800 hover:bg-neutral-300;
  }

  input[type='text'],
  input[type='email'],
  textarea {
    @apply min-h-8 min-w-[216px] max-w-[256px] w-full text-sm border border-gray-300 px-3 py-1 placeholder:text-gray-400 rounded-md outline-none bg-gray-100 focus:border-blue-500;
    font-family: inherit;
  }

  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type='number'] {
    -moz-appearance: textfield;
    appearance: textfield;
  }

  .container {
    @apply mx-auto px-5 md:px-10;
  }
}
